/* src/components/Home.css */
.home {
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.home h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.home p {
  font-size: 16px;
  color: #333;
}
